@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.sidebar{
  position: fixed;
  width: 240px;
  left: 140px;
  height: 100%;
  transition: all .5s ease;
}
.sidebar header{
  font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  user-select: none;
  font-family: 'Noto Sans', sans-serif;

}
.sidebar a{
  font-size: 20px;
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px transparent;
  border-top: 1px solid transparent;
  border-left: 5px solid transparent;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  transition: all .5s ease;
}
.sidebar a:hover{
  border-left: 10px solid transparent;
  text-decoration: none;
  color: #17BF63;
}
.sidebar i{
  width: 20px;
  height: 20px;
}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
}

@media(max-width : 860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: auto 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 0;
    visibility: hidden;
  }
}
/* Don't Forget to Subscribe our Channel[CodingNepal] */
